.equipment{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 100%;
    text-align: center;
    margin-left:5%;
   
}
.equipments{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5%;
    margin: 20px;
    margin-left:5%;

}
.eqImg{
    width: 100px;
    height: auto;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    /* outline: 5px solid #ccc; */
}
.eqName{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
}
.equipment:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s ease-out;
    transform: scale(1.05);
}

/* make gray if all taken */
.allTaken{
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}
