<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/dist/output.css" rel="stylesheet">
</head>


<app-main-nav></app-main-nav>

<body>  
  <nav>
    <mat-form-field  >
      <mat-label>Typ</mat-label>
      <mat-select (selectionChange)="refreshFilter()" [formControl]="type" multiple>
        <mat-option *ngFor="let type of equipmentTypes" [value]="type.name">{{type.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="filterField">
      <mat-label>Marke</mat-label>
      <mat-select (selectionChange)="refreshFilter()" [formControl]="brand" multiple>
        <mat-option *ngFor="let brand of brandFilter" [value]="brand">{{brand}}</mat-option>
      </mat-select>
    </mat-form-field>
  
      <mat-form-field  class="filterField">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input  [formGroup]="range"[rangePicker]="picker">
          <input  matStartDate formControlName="start" placeholder="Start date">
          <input (dateChange)="refreshFilter()" matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
  </nav>

    <div class="equipments">
      <div (click)="redirectDetail(eq)" class="equipment" [ngClass]="{'allTaken':!equipmentNamesMap.get(eq)}"
        *ngFor="let eq of equipmentNamesArray">
        <div class="img">
          <img class="bookmark" src="../../assets/img/bookmark.png" alt="bookmark">
          <img class="eqImg" [src]="getImageByEquipment(eq[0])">
        </div>
        <div class="title">
            <h3 class="eqName">{{eq}}</h3>
              <h5 [ngClass]="{'available':!equipmentNamesMap.get(eq)}" style="font-size:0.75em;">
                {{equipmentNamesMap.get(eq) ? "verfügbar: " + equipmentNamesMap.get(eq) :"nicht verfügbar"}}
              </h5>
        </div>
        
      </div>
  </div>
  
</body>

</html>