<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <h1 class="jumbotron text-center">Rental</h1>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Rental</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
        <li><a href="#">Page 1</a></li>
      </ul>
    </div>
  </nav>

  <div class="rentals">
    <h2>Rentals</h2>
    <div class="equipments">
      <div class="equipment" [ngClass]="{'allTaken':!equipmentTypes.get(eq)}" *ngFor="let eq of equipmentTypeNames">
        <img class="eqImg" [src]="getImageByEquipment(eq)">
        <h5>verfügbar: {{equipmentTypes.get(eq) ? equipmentTypes.get(eq) :0}}</h5>
        <!-- <h3>{{eq.EquipmentType.name}}</h3> -->
        <h3 class="eqName">{{eq}}</h3>
      </div>
    </div>
  </div>
</body>

</html>