<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/dist/output.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <app-filter-nav></app-filter-nav>
  <div class="rentals">
    <div class="equipments">
      <div (click)="redirectDetail(eq)" class="equipment" [ngClass]="{'allTaken':!equipmentNamesMap.get(eq)}"
        *ngFor="let eq of equipmentNamesArray">
        <img class="eqImg" [src]="getImageByEquipment(eq[0])">
        <h3 class="eqName">{{eq}}</h3>
        <h5 [ngClass]="{'available':!equipmentNamesMap.get(eq)}">
          {{equipmentNamesMap.get(eq) ? "verfügbar: " + equipmentNamesMap.get(eq) :"nicht verfügbar"}}

        </h5>
      </div>
    </div>
  </div>
</body>

</html>