@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 20vh;
    color: #91aeca;
}


a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    transition: .5s;
    width: auto;
    text-align: center;
}

a:hover{
    color:#839db6;
    cursor: pointer;
}

span a{
    font-size: 4.5em;
}

