<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LEORENT</title>
</head>

<body>
    <app-main-nav></app-main-nav>
    <div class="content">
        <div class="tools">
            <div class="toolImage">
                <img src="../../assets/img/hans-peter-jurgen-der-bauarbeiter.png" />
            </div>
            <div class="hr">
            </div>
            <div class="toolContent">
                <div class="toolHeadline">
                    <h3>FAST. EFFICIENT. EASY</h3>
                </div>
                <div class="toolDescription">
                    <p>
                        Hallo mein Name ist Teresa Graski und ich komme aus Lehen 103. Mein Lieblingstanz ist Shuffle, da ich da immer viel Spaß dabei habe. Ebenso programmiere ich gerne PHP und liebe das XAMP Control Panel
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>