<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <div class="content">
        <img class="eqImg" [src]="getImageByEquipment(activeEquipment.EquipmentType.name)">

        <div class="info">
            <h2 class="eqName">Name:{{activeEquipment.name}}</h2>
            <h5 class="eqAvailable">verfügbar: {{availableEquipment}}</h5>

            <h1>Anzahl:</h1>
            <input type="number" min="1" [max]="availableEquipment" value="1">

            <h1>von:</h1>
            <input type="date" [ngModel] ="startDate | date:'yyyy-MM-dd'"> 
            <h1>bis</h1>
            <input type="date" [ngModel] ="endDate | date:'yyyy-MM-dd'"> 
            <input type="button" (click)="rent()" value="reservieren">
        </div>
    </div>
</body>

</html>