*{
    font-family: 'Poppins', sans-serif;
}
body {
    background-image: url("../../assets/img/background.png");
    background-size: cover;
    background-repeat: repeat;
}

.eqName{
    font-size: 1.5rem;
    font-weight: 600;
}
.eqImg{
    width: 20vw;
    height: auto;
    object-fit: cover;
    display: flex;
    margin: 0;
    position: relative;
    border-right: 3px solid #b1b6cd;
    padding-right:4vw;
}

.info{
    border-radius: 4px;
    width:25%;
    text-align: left;
    margin-left:5%;
}
.content{
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70%;
    width: 50%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 1%;
}

a {
    transition: 0.3s;
    cursor:pointer;
  }
  a:hover {
    color: #242424;
  }
.datepickers{
    position: relative;
    border-radius: 4px;
    text-align: left;
    margin-top:5%;
    
}
.filterButton{
    margin-top:5%;
}