<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
</head>

<body>
    <app-main-nav></app-main-nav>
    <div class="wrapper">
        <div class="headline">
            <h1>Deine Reservierungen</h1>
        </div>

        <div class="content" *ngFor="let reservation of reservations">
            <div class="box">
                <div class="image">
                    <img src="../../assets/img/Sony_6100.jpg">
                </div>
                <div class="title">
                    <h3>{{equipmentNameOfReservation(reservation.equipmentId)}}</h3>
                </div>
                <div class="status">
                    <h4>{{getStatusById(reservation.statusId)}}</h4>
                </div>
                <div class="options">
                    <div class="group inline-block">
                        <button
                            class="outline-none focus:outline-none border bg-white rounded-sm flex items-center min-w-32">
                            <span><img src="../../assets/img/threeDots.png"></span>
                        </button>
                        <ul class="bg-white border rounded-sm transform scale-0 group-hover:scale-100 absolute 
                        transition duration-150 ease-in-out origin-top min-w-32">
                            <li (click)="edit(reservation)" class="rounded-sm hover:bg-gray-100"><a>Bearbeiten</a></li>
                            <li (click)="delete()" class="rounded-sm hover:bg-gray-100" class="deleteLi"><a>Löschen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>