<body>
    <app-main-nav></app-main-nav>
    <div class="content">
        <div class="tools">
            <div class="toolImage">
                <img src="../../assets/img/person.png" />
            </div>
            <div class="hr">
            </div>
            <div class="toolContent">
                <div class="toolHeadline">
                    <h3>Teresa Holzer</h3>
                </div>
                <div class="toolDescription">
                    <p>
                        Frontend, UI/UX-Design
                    </p>
                </div>
            </div>
        </div>

        <div class="tools">
            <div class="toolImage">
                <img src="../../assets/img/person.png" />
            </div>
            <div class="hr">
            </div>
            <div class="toolContent">
                <div class="toolHeadline">
                    <h3>Martin Kaar</h3>
                </div>
                <div class="toolDescription">
                    <p>
                        Frontend, UI/UX-Design
                    </p>
                </div>
            </div>
        </div>

        <div class="tools">
            <div class="toolImage">
                <img src="../../assets/img/person.png" />
            </div>
            <div class="hr">
            </div>
            <div class="toolContent">
                <div class="toolHeadline">
                    <h3>Robin Reinhart</h3>
                </div>
                <div class="toolDescription">
                    <p>
                        Frontend, UI/UX-Design
                    </p>
                </div>
            </div>
        </div>

        <div class="tools">
            <div class="toolImage">
                <img src="../../assets/img/person.png" />
            </div>
            <div class="hr">
            </div>
            <div class="toolContent">
                <div class="toolHeadline">
                    <h3>Maximilian Steiger</h3>
                </div>
                <div class="toolDescription">
                    <p>
                        Frontend, UI/UX-Design
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>