<body>
    <app-main-nav></app-main-nav>
    <div class="container">

        <div *ngIf="this.equipments.length == 0">
            <h1>noch kein Equipment vermerkt</h1>
            <!-- TODO center -->
        </div>

        <div class="box" *ngFor="let equipment of equipments">
            <div class="image">
                <img src="../../assets/img/Sony_6100.jpg">
            </div>
            <div class="title">
                <h3>{{equipment.name}}</h3>
            </div>
            <input type="button" (click)="reserve(equipment)" value="reservieren">

            <div class="options">
                <div class="group inline-block">
                    <button
                        class="outline-none focus:outline-none border bg-white rounded-sm flex items-center min-w-32">
                        <span><img src="../../assets/img/threeDots.png"></span>
                    </button>
                    <ul class="bg-white border rounded-sm transform scale-0 group-hover:scale-100 absolute 
                    transition duration-150 ease-in-out origin-top min-w-32">
                        <li (click)="delete()" class="rounded-sm hover:bg-gray-100" class="deleteLi"><a>Entfernen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>