<body>
    <app-main-nav></app-main-nav>
    <div class="container">

        <div class="rager">
            <div class="teacher">
                <div class="teacherName">
                    <h2>Franz Rager</h2>
                </div>
                <div class="hr">
                </div>
                <div class="teacherContent">
                    <div class="timeStamp">
                        <h3>Zeiten</h3>
                        <p>09:45-10:00 Uhr</p>
                    </div>
                    <div class="annotation">
                        <h3>Anmerkung</h3>
                        <p>
                            Ausschließlich VIDEO-Equipment!
                        </p>
                    </div>
                    <a href="mailto:f.rager@htl-leonding.ac.at"><button>Kontakt</button></a>
                </div>
            </div>
        </div>
        <div class="engleitner">
            <div class="teacher">
                <div class="teacherName">
                    <h2>Patricia Engleitner</h2>
                </div>
                <div class="hr">
                </div>
                <div class="teacherContent">
                    <div class="timeStamp">
                        <h3>Zeiten</h3>
                        <p>09:45-10:00 Uhr</p>
                    </div>
                    <div class="annotation">
                        <h3>Anmerkung</h3>
                        <p>
                            Ausschließlich Foto-Equipment!
                        </p>
                    </div>
                    <a href="mailto:p.engleitner@htl-leonding.ac.at"><button>Kontakt</button></a>
                </div>
            </div>
        </div>
        <div class="baar">
            <div class="teacher">
                <div class="teacherName">
                    <h2>Erich Baar</h2>
                </div>
                <div class="hr">
                </div>
                <div class="teacherContent">
                    <div class="timeStamp">
                        <h3>Zeiten</h3>
                        <p>09:45-10:00 Uhr</p>
                    </div>
                    <div class="annotation">
                        <h3>Anmerkung</h3>
                        <p>
                            Ausschließlich AUDIO-Equipment!
                        </p>
                    </div>
                    <a href="mailto:e.baar@htl-leonding.ac.at"><button>Kontakt</button></a>
                </div>
            </div>
        </div>
        <div class="huemer">
            <div class="teacher">
                <div class="teacherName">
                    <h2>Martin Huemer</h2>
                </div>
                <div class="hr">
                </div>
                <div class="teacherContent">
                    <div class="timeStamp">
                        <h3>Zeiten</h3>
                        <p>09:45-10:00 Uhr</p>
                    </div>
                    <div class="annotation">
                        <h3>Anmerkung</h3>
                        <p>
                            Ausschließlich VIDEO-Equipment!
                        </p>
                    </div>
                    <a href="mailto:m.huemer@htl-leonding.ac.at"><button>Kontakt</button></a>
                </div>
            </div>
        </div>
    </div>
</body>