<body>
    <app-main-nav></app-main-nav>
    <div class="wrapper">
        <div class="teacher">
            <div class="teacherName">
                <h2>Franz Rager</h2>
            </div>
            <hr>
            <div class="teacherContent">
                <h3>Zeiten</h3>
                <p>09:45-10:00 Uhr</p>
                <br>
                <h3>Anmerkung</h3>
                <p>Nur für Equipment zuständig, dass im Fach "Video" benötigt wird.</p>
            </div>
        </div>

        <div class="teacher">
            <div class="teacherName">
                <h2>Patricia Engleitner</h2>
            </div>
            <hr>
            <div class="teacherContent">
                <h3>Zeiten</h3>
                <p>09:45-10:00 Uhr</p>
                <br>
                <h3>Anmerkung</h3>
                <p>Nur für Equipment zuständig, dass im Fach "Fotografie" benötigt wird.</p>
            </div>
        </div>

        <div class="teacher">
            <div class="teacherName">
                <h2>Martin Huemer</h2>
            </div>
            <hr>
            <div class="teacherContent">
                <h3>Zeiten</h3>
                <p>09:45-10:00 Uhr</p>
                <br>
                <h3>Anmerkung</h3>
                <p>Nur für Equipment zuständig, dass im Fach "Fotografie" benötigt wird.</p>
            </div>
        </div>

        <div class="teacher">
            <div class="teacherName">
                <h2>Erich Baar</h2>
            </div>
            <hr>
            <div class="teacherContent">
                <h3>Zeiten</h3>
                <p>09:45-10:00 Uhr</p>
                <br>
                <h3>Anmerkung</h3>
                <p>Nur für Equipment zuständig, dass im Fach "Audio" benötigt wird.</p>
            </div>
        </div>
    </div>
</body>