<body>
    <app-main-nav></app-main-nav>
    <div class="wrapper">
        <div class="faq-header">Häufig gestellte Fragen</div>
        <hr>
        <div class="faq-content">
            <div class="faq-question">
                <input id="q1" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q1" class="panel-title">Wie reserviere ich Equipment?</label>
                <div class="panel-content">Unter dem Tab "Equipment" suchst du dir das Equipment deiner Wahl aus. Danach gibst du den gewünschten Zeitraum an und drückst auf "reservieren". FERTIG</div>
            </div>

            <div class="faq-question">
                <input id="q2" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q2" class="panel-title">Wie erkenne ich, ob das gewünschte Equipment verfügbar ist?</label>
                <div class="panel-content">Diese Information ist unter dem Titel zu finden. Falls keine mehr verfügbar sind, kann man im Kalender nachsehen, wann das gewünschte Equipment wieder erhältlich ist.</div>
            </div>

            <div class="faq-question">
                <input id="q3" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q3" class="panel-title">Wo kann ich die Zeiten finden, an welchen die Lehrer Equipment verleihen?</label>
                <div class="panel-content">Unter dem Tab "Lehrer" -> "Informationen" sind alle Lehrer mit den jeweiligen Zeiten aufgelistet.</div>
            </div>
        </div>
    </div>
</body>