<body>
    <app-main-nav></app-main-nav>
    <div class="wrapper">
        <div class="faq-header">Häufig gestellte Fragen</div>
        <hr>
        <div class="faq-content">
            <div class="faq-question">
                <input id="q1" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q1" class="panel-title">Wie geht es in Steiger Max?</label>
                <div class="panel-content">Sehr gut, danke der Nachfrage!</div>
            </div>

            <div class="faq-question">
                <input id="q2" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q2" class="panel-title">Wos mochd da Martin heid nu so?</label>
                <div class="panel-content">Eigentlich nix mehr, vielleicht bissl Tiktok schaun und donn ins Bett</div>
            </div>

            <div class="faq-question">
                <input id="q3" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q3" class="panel-title">Teresa, duast du am Wochenende lerna?</label>
                <div class="panel-content">Auf keinen Fall Herr Fragensteller! Was denkst du von mir? Ich gehe natürlich auf die Donaulände!</div>
            </div>
        </div>
    </div>
</body>